extends ../layout

block content
  h1 Login
   form(action="/login", method="post")
      
        .form-group
            label("name") Email
            input#email(type="text", class="form-control", name="email", value="inzamam3332@gmail.com")
        .form-group
            label("password") Password
            input#price(type="password", class="form-control", name="password", value="inzi")
        input(type="submit", class="btn btn-info", value="Login")